{% extends 'base.html' %}

{% block main %}
<div class="container py-5 mt-5">
  <div class="row align-items-center">
    
    <div class="col-md-6 text-center">
      <h1 class="display-1 fw-bold text-muted"><span class="text-dark">500</span></h1>
      <h2 class="mt-2">SERVER ERROR</h2>
      <p class="text-muted">Oops! Something's wrong. Please try again in a few minutes.</p>
      <a href="{{ url_for('home.index') }}" class="btn btn_footer mt-2">
        ← Back to Home
      </a>
    </div>

    <div class="col-md-6 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 24 24" fill="none" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="opacity: 0.15; width: 100%; max-width: 250px; height: auto;" class="icon icon-tabler icons-tabler-outline icon-tabler-mood-puzzled">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M14.986 3.51a9 9 0 1 0 1.514 16.284c2.489 -1.437 4.181 -3.978 4.5 -6.794" />
            <path d="M10 10h.01" />
            <path d="M14 8h.01" />
            <path d="M12 15c1 -1.333 2 -2 3 -2" />
            <path d="M20 9v.01" />
            <path d="M20 6a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" />
        </svg>
    </div>

  </div>
</div>
{% endblock %}