<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - UniStay</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="position-fixed start-50 translate-middle-x px-3"
            style="top: 90px; z-index: 1080; width: 100%; max-width: 1080px;">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show shadow flash-message" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <header>
      <!--<nav class="navbar navbar-expand-xl navbar-light sticky-top shadow-sm"> -->
      <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow-sm">
        <div class="container">
          <div class="logo_container border_contrast_color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-home"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
          </div>
          <a class="text-light navbar-brand ms-2 fw-bold fs-4" href="{{ url_for('home.index') }}">UniStay</a>
          <button
            class="navbar-toggler navbar-dark"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
          >
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-4 mb-2 mb-lg-0">
              <li class="nav-item me-2">
                <a class="nav-link fw-semibold text-white nav-hover" href="{{ url_for('home.index') }}#pills-tabContent">View properties</a>
              </li>
              {% if session.get('user', {}).get('user_role')  == 'Agent' %}
                <li class="nav-item me-2">
                  <a class="nav-link fw-semibold text-white nav-hover" href="{{ url_for('management.index') }}"> Listing </a>
                </li>
              {% elif session.get('user', {}).get('user_role')  == 'Tenant' %}
                <li class="nav-item me-2">
                  <a class="nav-link fw-semibold text-white nav-hover" href="{{ url_for('bookmarks.index') }}"> Bookmark </a>
                </li>
              {% elif session.get('user', {}).get('user_role')  == 'Admin' %}
                <li class="nav-item me-2">
                  <a class="nav-link fw-semibold text-white nav-hover" href="{{ url_for('management.index') }}"> Management </a>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="ms-auto d-flex align-items-center gap-3">
            {% if session.get('user', {}).get('user_role')  %}
            <span class="text-white text-light small">Welcome back, {{session.get('user', {}).get('user_name')}}</span>
            <div class="ms-auto d-flex gap-2">
              <a href="{{ url_for('auth_logout.logout') }}" class="btn primary_btn">Log out</a>
            </div>
            {% else %}
            <div class="ms-auto d-flex gap-2">
              <a href="{{ url_for('auth_register.register') }}" class="btn me-1 outlined_btn">Sign up</a>
              <a href="{{ url_for('auth_login.login') }}" class="btn primary_btn">Log in</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <main>
        <!-- main section -->
         {% block main %}
         {% endblock %}
    </main>

    <footer class="border-top py-3">
      <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
    
      <!-- left logo -->
      <div class="d-flex align-items-center">
        <div class="logo_container border_contrast_color">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-home"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
        </div>
        <p class="text-light ms-2 fw-bold fs-4 mb-0">UniStay</p>
      </div>

      <!-- middle description -->
      <p class="mb-0 text-center" style="color: rgba(255, 255, 255, 0.832)">
        Your trusted platform for finding student rentals
      </p>
      
      <!-- social media -->
      <div class="d-flex gap-3">
        <a href="#" class="text-white social-icon">
          <i class="bi bi-instagram fs-5"></i>
        </a>
        <a href="#" class="text-white social-icon">
          <i class="bi bi-facebook fs-5"></i>
        </a>
        <a href="#" class="text-white social-icon">
          <i class="bi bi-twitter-x fs-5"></i>
        </a>
      </div>

      <p class="mb-0 text-center" style="color: rgba(255, 255, 255, 0.832)">
        © 2026 UniStay. All rights reserved.
        </p>
      </div>

      </div>
    </footer>

    
    {% block modals %}{% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>


  </body>
</html>
